
<html>
welcome <%=@name%> 
<action="/" method='post'></br>
<a href="withdraw"><button>withdraw</button></a></br>

<a href="deposit"><button>deposit</button></a></br>

<a href="balance"><button>balance</button></a></br>
</html>
