
<html>
welcome <%=@name%>
<form action="/withdraw" method='post'>
Agent number: 
<input type= "test" name= "agent_number"></br>
Amount:
<input type= "number" name="amount"></br>
pin: 
<input type= "password" name= "pin"></br>
<input type= "submit" value= "withdraw">
</form>
</html>