
<html>
<form action="/withdraw" method='post'>
Agent number: </br>
<input type= "test" name= "agent_number">
Amount:</br>
<input type= "number" name="amount">
pin: </br>
<input type= "password" name= "pin">
<input type= "submit" value= "withdraw">
</form>
</html></html>